@import "tailwindcss";
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Caldina Regular";
    src: url("./assets/Fonts/CaldinaRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  .font-caldina {
    font-family: "Caldina Regular", sans-serif;
  }
}
